#game-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6%;
  }
  
  .row {
    display: flex;
  }
  
  .cell {
    width: 20px;
    height: 20px;
    background-color: rgba(255, 192, 203, 0.08);
   
  }
  
  .snake {
    background-color: rgb(131, 250, 131);
  }
  
  .food {
    background-color: rgb(233, 147, 147);
  }
  
    /* Add a left border to the first cell in each row */
    .row .cell:first-child {
        border-left: 3px solid rgba(255, 192, 203, 0.715);
      }
    
      /* Add a right border to the last cell in each row */
      .row .cell:last-child {
        border-right: 3px solid rgba(255, 192, 203, 0.715);
      }
    
      /* Add a top border to every cell in the first row */
      .row:first-child .cell {
        border-top: 3px solid rgba(255, 192, 203, 0.715);
      }
    
      /* Add a bottom border to every cell in the last row */
      .row:last-child .cell {
        border-bottom: 3px solid rgba(255, 192, 203, 0.715);
      }

      #game-title {
        text-align: center;
        font-size: 2em; 
        color: pink;
        font-family: 'Comic Sans MS', 'Chalkboard SE', 'Marker Felt', sans-serif; 
      }